/*
* @Author: lenovo
* @Date:   2017-12-02 12:56:27
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-14 11:16:25
*/
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","宋体",sans-serif;
	font-size: 16px;

}
li{
		list-style: none;
}
body{
	background: #fff;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}